.content {
  min-height: 80vh;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background-color: beige;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background: rgb(187, 61, 61);
}

aside {
  background-color: rgb(92, 92, 160);
  padding: 2rem;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  a {
    background-color: cornflowerblue;
    padding: 0.5rem 1rem;
  }
}

.outlet {
  flex: 1;
  background-color: aquamarine;
}
