.content {
  display: flex;
  flex: 1;
  align-items: stretch;
  // background-color: beige;
  margin: 0 5rem;
}

.lmao-bg {
  background: linear-gradient(
    -45deg,
    #2c2443,
    #64a89e,
    #0c3c4c,
    #a1af58,
    // #bcbabc,
    #2c2443
  );

  background-size: 800% 800%;
  animation: gradient 25s ease-in-out infinite;
  animation-direction: alternate;
}

nav {
  // background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 6rem;
  // margin: 0 5rem;

  .eth-info {
    p {
      // text-decoration: un;
    }
  }
}

footer {
  padding: 2rem;
  margin: 0 5rem;
  // background-color: rgb(74, 129, 129);
}

aside {
  // background-color: rgb(183, 235, 181);
  padding: 2rem 1rem;
  min-height: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-right: 1px black solid;

  ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-align: center;
    text-transform: capitalize;
    // background-color: cornflowerblue;
    padding: 0.75rem 2rem;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

    svg {
      transform: translateY(1px);
      margin-right: 0.5rem;
    }

    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }
}

.outlet {
  flex: 1;
  // background-color: aquamarine;
  height: 100%;
  min-height: 80vh;
}
